.profile-form {
    display: flex;
}

.profileContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -19rem 0 0 4rem;
}

h2 {
    margin-top: -12rem;
}

.profileCard {
    margin-top: -18rem;
}

.bottomContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 15rem;
    margin-top: 5rem;
}